$primary-color: #2196F3;
$secondary-color: #BBDEFB;
$font-color-1: white;
$font-color-2: black; 
$bg-color: #ececec;
$header-color: white;

$sidebar-flex: 1;
$content-flex: 1;
$aside-flex: 1;

$header-height: 50px;

/***** misceleneous stuff *****/
body {
    margin: 0;
    background-color: $bg-color;
}

* {
    box-sizing: border-box;
    font-family: 'Signika', 'helvetica';
}

.flex {
    display: flex;
}

.divider {
    background: lightgray;
    width: 80%;
    height: 1px;
    margin: 5px auto;
}

.divider-full {
    width: 100%;
    height: 1px;
    background-color: lightgray;
}

.divider-vertical {
    background-color: lightgray;
    width: 1px;
    height: 80%;
    margin-top: 10%;
}

.container-90 {
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
}

.active {
    display: block;
}

.inactive {
    display: none;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

/***** header style *****/
#header {
    background-color: $header-color;
    //border-bottom: solid 5px $primary-color;
    height: $header-height;
    width: 100%;
    position: fixed;
    flex-direction: row;
    //box-sizing: content-box;
    -webkit-box-shadow: 0px 2px 11px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 11px -3px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 11px -3px rgba(0, 0, 0, 0.75);
}

#header-logo {
    line-height: $header-height;
    height: 100%;
    margin-left: 7%;
    margin-right: auto;
    h1 {
        margin: 0;
        font-size: 28px;
        //background-color: red;
    }

    a {
        color: $primary-color;
        text-decoration: none;
        display: inline-block;
        width: 100%;
        height: 100%;
        padding: 0 10px;
    }

    a:hover {
        background-color: $primary-color;
        color: white;
    }
}

.header-link {
    height: 100%;
}

#dropdown{
    height: 100%;
    width: $header-height;
    line-height: $header-height;
    background-color: white;
    margin-right: 100px;
    //text-align: left;
}

#header-profile-pic {
    width: $header-height;
    height: $header-height;
    padding: 5px;
}

#dropdown:hover {
    cursor: pointer;
    .dropdown-item {
        display: block;
    }
}

.dropdown-item {
    text-align: center;
    display: none;
    margin-top: 0;
    background-color: white;
    height: 40px;
    width: 100px;
    line-height: 40px;

    a {
        text-decoration: none;
        color: black;
        font-size: 14px;
        width: 100%;
        height: 100%;
        display: block;
    }
}

.dropdown-item:hover {
    background-color: $primary-color;
    color: white;
}

.dropdown-container {
    margin-top: -18px;
    //border: solid white 3px;
}


/**********************/
/***** body style *****/
/**********************/

#body {
    padding-top: 50px;
    height: 100vh;
}


/***** sidebar style *****/
#sidebar {
    flex: $sidebar-flex;
    //min-width: 275px;
    //background: indigo;
}

#profile-side-container {
    width: 70%;
    min-width: 275px;
    background: white;
    margin: 30px 20px 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

#profile-pic {
    width: 120px;
    height: 120px;
    margin-top: 20px;
}

#profile-info {
    color: gray;
    font-size: 14px;
    font-family: 'helvetica';
    font-weight: 500;
    p {
        margin: 5px 0;
    }
}

#side-stat-container {
    width: 95%;
    min-height: 30px;
    margin: 0 auto;
    line-height: 30px;
    p {
        margin: 0;
        padding: 0 5px;
        font-size: 16px;
        font-weight: 600;
        color: $primary-color;
    }
    strong {
        font-size: 12px;
        font-weight: 600;
        color: black;
    }
}


/***** content style *****/
#content {
    flex: $content-flex;
    //background: rosybrown;
    min-width: 600px;
}

#new-post-container {
    width: 100%;
    //height: auto;
    background-color: $secondary-color;
    margin: 30px auto 0 auto;
    border: solid 4px $secondary-color;

    textarea {
        margin: 4px 10px 4px 9%;
        //margin-left: 9%;
        //margin-right: 10px;
        padding: 5px 15px;
        border: 0;
        width: 90%;
        height: 80px;
        resize: none;
        font-size: 15px;
    }
}

#new-post-bottom {
    position: relative;
    margin-left: 10px;
    width: 90%;
    //min-height: 30px;
    background-color: $secondary-color;
    //text-align: right;
}

#post-btn {
    //position: absolute;
    width: 80px;
    height: 30px;
    background-color: $primary-color;
    color: white;
    border: 0;
    margin: 5px 0 5px 8%;
}

#post-btn:hover {
    cursor: pointer;
    background-color: white;
    color: $primary-color;
}

#post-container {
    width: 100%;
    height: 400px;
    //background-color: aquamarine;
}

.post {
    width: 100%;
    //min-height: 80px;
    background-color: white;

    img {
        width: 50px;
        height: 50px;
        margin: 8px;
        border-radius: 50%;
    }
}

.post-content {
    min-height: 20px;
    width: 100%;
    font-size: 15px;
    //background-color: #1B5E20;

}

.post-content-upper {
    height: 30px;
    width: 100%;
    line-height: 30px;
    padding-left: 8px;
    //background-color: indigo;
    p {
        margin: 0;
        color: gray;
    }
    strong {
        margin-right: 15px;
    }
    .post-timestamp {
        margin-left: 10px;
    }
}

.post-content-main {
    width: 100%;
    //min-height: 46px;
    //background-color: #F44336;
    padding-left: 8px;
}

.post-lower {
    height: 20px;
    width: 100%;
    background-color: white;
}


/***** aside style *****/
#aside {
    flex: $aside-flex;
    // background: salmon;
}
