    <!DOCTYPE html>
    <html lang="en">
        <head>
            <title></title>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="style.css" rel="stylesheet">
        </head>
        <body>

            <!--header-->
            <div id="header">
                <div id="header-logo"></div>
            </div>

            <!--body-->
            <div id="body" class="flex">
                <div id="sidebar">
                    <div id="profile-side-container">
                        <img id="profile-pic" src="ss.png" alt="profile pic">
                        <div class="divider"></div>
                        <div id="profile-info" class="container-90">
                            <p><strong>Lives in</strong> Jabalpur, India</p>
                            <p><strong>Student at</strong> Gyan Ganga College of Technology</p>
                        </div>
                    </div>
                </div>

                <div id="content"></div>

                <div id="aside"></div>
            </div>

            <!--footer-->
            <div id="footer"></div>
        </body>
    </html>