<!DOCTYPE html>
<html lang="en">
    <head>
        <title>abc</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'css/user_profile.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
        </div>

        <div id="profile-banner"></div>

        <div id="info-bar" class="flex">
            <div id="info-bar-left">
                <img src="{% static 'css/test/ss.png' %}" id="profile-pic">
            </div>
            <div id="info-bar-right"></div>
        </div>

        <div id="body" class="flex">
            <div id="sidebar"></div>
            <div id="content"></div>
            <div id="aside"></div>
        </div>
    </body>
</html