<!DOCTYPE html>
<html lang="en">
    <head>
        <title>abc</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link href="{% static 'css/user_profile.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="header">
        </div>

        <div id="profile-banner"></div>

        <div id="info-bar" class="flex">
            <div id="info-bar-left">
                <img src="{% static 'css/test/ss.png' %}" id="profile-pic">
            </div>
            <div id="info-bar-center">
                <div id="profile-stats-main" class="flex">
                    <div class="info-bar-stat">
                        <p class="stat-label">POSTS</p>
                        <p class="stat-count">5,234</p>
                    </div>
                    <div class="info-bar-stat">
                        <p class="stat-label">FOLLOWERS</p>
                        <p class="stat-count">3.4M</p>
                    </div>
                    <div class="info-bar-stat">
                        <p class="stat-label">FOLLOWING</p>
                        <p class="stat-count"   >15</p>
                    </div>
                </div>
            </div>
            <div id="info-bar-right"></div>
        </div>

        <div id="body" class="flex">
            <div id="sidebar"></div>
            <div id="content"></div>
            <div id="aside"></div>
        </div>
    </body>
</html