{% extends "blog/generic_signup_login.html" %}

{% block content %}
    <h1>Log In</h1>
    <form method="POST"> {% csrf_token %}
        {% if messages %}
            <div class="success-dialog">
                <ul>
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% if err_list %}
        <div class="error-dialog">
            <ul>
            {% for error in err_list %}
                <p>{{ error }}</p>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {{ form.as_p }}
        <div id="checkbox-container">
            <input type="checkbox" id="id_remember_me" name="remember_me">
            <span id="check_label">Remember me</span>
        </div>

        <button type="submit" class="submit-btn">Log In >></button>
        <p style="text-align: center; color: white;">or <a id="f-link" href="{% url 'signup' %}">sign up</a> if you don't already have an account. </p>
    </form>
{% endblock %}